.entypo-export:before {
  content: "\f1e0"; }

.entypo-facebook:before {
  content: "\f09a"; }

.entypo-twitter:before {
  content: "\f099"; }

.entypo-gplus:before {
  content: "\f0d5"; }

.entypo-pinterest:before {
  content: "\f312"; }

.entypo-tumblr:before {
  content: "\f315"; }

.entypo-linkedin:before {
  content: "\f318"; }

.entypo-paper-plane:before {
  content: "\e79b"; }

.ce-share-btn.in-toolbar {
  right: 70px;
  position: absolute;
  margin-top: 8px; }

@media only screen and (min-width: 750px) {
  .ce-share-btn.in-toolbar {
    right: 15px; }
 }

.ce-share-btn.sharer-0 {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  height: 20px;
  width: 92px; }

.ce-share-btn.sharer-0 [class*=entypo-]:before {
  font-family: FontAwesome, normal !important; }

.ce-share-btn.sharer-0 label {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #a29baa;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  padding: 5px 10px; }

.ce-share-btn.sharer-0 label:hover {
  opacity: 0.8; }

.ce-share-btn.sharer-0 label span {
  -webkit-font-smoothing: antialiased;
  font-family: Lato, sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  padding-left: 6px;
  text-transform: uppercase; }

.ce-share-btn.sharer-0 .social {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-left: -15px;
  opacity: 0; }

.ce-share-btn.sharer-0 .social.top {
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  margin-top: -80px; }

.ce-share-btn.sharer-0 .social.bottom {
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  margin-top: 5px; }

.ce-share-btn.sharer-0 .social.middle {
  margin-top: -34px; }

.ce-share-btn.sharer-0 .social.middle.right {
  -ms-transform-origin: 5% 50%;
  -webkit-transform-origin: 5% 50%;
  transform-origin: 5% 50%;
  margin-left: 105px; }

.ce-share-btn.sharer-0 .social.middle.left {
  -ms-transform-origin: 5% 50%;
  -webkit-transform-origin: 5% 50%;
  transform-origin: 5% 50%; }

.ce-share-btn.sharer-0 .social.right {
  margin-left: 14px; }

.ce-share-btn.sharer-0 .social.load {
  -webkit-transition: none !important;
  transition: none !important; }

.ce-share-btn.sharer-0 .social.networks-1 {
  width: 60px; }

.ce-share-btn.sharer-0 .social.networks-1.center, .ce-share-btn.sharer-0 .social.networks-1.left {
  margin-left: 14px; }

.ce-share-btn.sharer-0 .social.networks-1.middle.left {
  margin-left: -70px; }

.ce-share-btn.sharer-0 .social.networks-1 ul {
  width: 60px; }

.ce-share-btn.sharer-0 .social.networks-2 {
  width: 120px; }

.ce-share-btn.sharer-0 .social.networks-2.center {
  margin-left: -13px; }

.ce-share-btn.sharer-0 .social.networks-2.left {
  margin-left: -44px; }

.ce-share-btn.sharer-0 .social.networks-2.middle.left {
  margin-left: -130px; }

.ce-share-btn.sharer-0 .social.networks-2 ul {
  width: 120px; }

.ce-share-btn.sharer-0 .social.networks-3 {
  width: 180px; }

.ce-share-btn.sharer-0 .social.networks-3.center {
  margin-left: -45px; }

.ce-share-btn.sharer-0 .social.networks-3.left {
  margin-left: -102px; }

.ce-share-btn.sharer-0 .social.networks-3.middle.left {
  margin-left: -190px; }

.ce-share-btn.sharer-0 .social.networks-3 ul {
  width: 180px; }

.ce-share-btn.sharer-0 .social.networks-4 {
  width: 240px; }

.ce-share-btn.sharer-0 .social.networks-4.center {
  margin-left: -75px; }

.ce-share-btn.sharer-0 .social.networks-4.left {
  margin-left: 162px; }

.ce-share-btn.sharer-0 .social.networks-4.middle.left {
  margin-left: -250px; }

.ce-share-btn.sharer-0 .social.networks-4 ul {
  width: 240px; }

.ce-share-btn.sharer-0 .social.networks-5 {
  width: 300px; }

.ce-share-btn.sharer-0 .social.networks-5.center {
  margin-left: -105px; }

.ce-share-btn.sharer-0 .social.networks-5.left {
  margin-left: -225px; }

.ce-share-btn.sharer-0 .social.networks-5.middle.left {
  margin-left: -320px; }

.ce-share-btn.sharer-0 .social.networks-5 ul {
  width: 300px; }

.ce-share-btn.sharer-0 .social.active {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  opacity: 1; }

.ce-share-btn.sharer-0 .social.active.top {
  -ms-transform: scale(1) translateY(-10px);
  -webkit-transform: scale(1) translateY(-10px);
  transform: scale(1) translateY(-10px); }

.ce-share-btn.sharer-0 .social.active.bottom {
  -ms-transform: scale(1) translateY(15px);
  -webkit-transform: scale(1) translateY(15px);
  transform: scale(1) translateY(15px); }

.ce-share-btn.sharer-0 .social.active.middle.right {
  -ms-transform: scale(1) translateX(10px);
  -webkit-transform: scale(1) translateX(10px);
  transform: scale(1) translateX(10px); }

.ce-share-btn.sharer-0 .social.active.middle.left {
  -ms-transform: scale(1) translateX(-10px);
  -webkit-transform: scale(1) translateX(-10px);
  transform: scale(1) translateX(-10px); }

.ce-share-btn.sharer-0 .social ul {
  color: #fff;
  height: 46px;
  left: 0;
  list-style: none;
  margin: auto;
  padding: 0;
  position: relative;
  right: 0; }

.ce-share-btn.sharer-0 .social ul li {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  display: none;
  float: left;
  font-size: 20px;
  height: 22px;
  margin: 0;
  padding: 12px 0;
  position: relative;
  text-align: center;
  width: 60px;
  z-index: 2; }

.ce-share-btn.sharer-0 .social ul li:hover {
  color: rgba(0, 0, 0, 0.5); }

.ce-share-btn.sharer-0 .social li[class*=facebook] {
  background: #3b5998;
  display: block; }

.ce-share-btn.sharer-0 .social li[class*=twitter] {
  background: #6cdfea;
  display: block; }

.ce-share-btn.sharer-0 .social li[class*=gplus] {
  background: #e34429;
  display: block; }

.ce-share-btn.sharer-0 .social li[class*=pinterest] {
  background: #c5282f;
  display: block; }

.ce-share-btn.sharer-0 .social li[class*=paper-plane] {
  background: #42c5b0;
  display: block; }
